{% extends 'base.jinja2' %}

{% block subtitle %} RETRIEVE YOUR PROGRESS {% endblock subtitle %} 

{% block content %}
<form method="GET">
	{% if error %}<span class='error'>{{ error }}<br>{% endif %}
	<label for="code">Code: </label><input type="text" id="code" name="code">
	<input type="submit" value="retrieve it!!">
</form>
{% endblock content %}
